@using Microsoft.AspNetCore.Components.Web
@using ClickPay.Web.Components

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/ClickPay.Shared/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/ClickPay.Shared/app.css" />
    <link rel="stylesheet" href="ClickPay.Web.styles.css" />
    <link rel="icon" type="image/png" href="_content/ClickPay.Shared/favicon.png" />
</head>
<body>
    <App />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
